{% extends "::template/default.html.twig" %}

{% block title %}Send E-mail to participants {% endblock %}
{% block body %}
    <nav class="navigation">
        <a href="{{ path('promo_list') }}" class="navigation_item">promos</a>
        <a href="{{ path('promo_view', {slug: promo.slug}) }}" class="navigation_item">{{ promo.name }}</a>
        <a href="{{ path('promo_contact', {slug: promo.slug}) }}" class="navigation_item">Send e-mail</a>
    </nav>
    <h1 class="page_title">
        Send e-mail
    </h1>

    <div class="sign_in_container challenge_panel">
        <div class="challenge_content">
            <div class="sign_in_header">
                <a href="{{ path('promo_list') }}" class="page_title_return"><i class="fa fa-arrow-left"></i></a>
                <h1 style="display: inline-block;">New E-mail</h1>
            </div>
            {% trans_default_domain "message" %}
            {{ form_start(form,{'attr':{'class':'sign_in_form','method':'post'}}) }}
            <div class="red" style="font-size: 14px;
font-weight: 200;">
                {{ form_errors(form) }}
                {{ form_errors(form.destination) }}
                {{ form_errors(form.subject) }}
                {{ form_errors(form.message) }}
            </div>

            <p class="sign_in_form_item sign_in_form_item_with_label">
                    {{ form_label(form.destination) }}
                    {{ form_widget(form.destination,{'attr':{'class':'textarea','placeholder':'Students e-mails'}}) }}
                </p>
                <p class="sign_in_form_item sign_in_form_item_with_label">
                    {{ form_label(form.subject) }} <small style="color: #bbb;">(5 to 25 characters)</small>
                    {{ form_widget(form.subject,{'attr':{'class':'sign_in_form_item_input input','placeholder':'E-mail subject'}}) }}
                </p>
                <p class="sign_in_form_item sign_in_form_item_with_label">
                    {{ form_label(form.message) }} <small style="color: #bbb;">(10 characters minimum)</small>
                    <p style="color: #888; font-size: 14px; line-height: 1em;">
                        Dear contestant,<br/>
                    </p>
                    {{ form_widget(form.message,{'attr':{'class':'textarea','placeholder':''}}) }}
                    <p style="color: #888; font-size: 14px; line-height: 1em;">
                        Best regards,<br/><br/>--<br/>
                        IOT PLATFORM ENIT | ENIT STUDIENT <br/>
                        IOT PLATFORM ENIT Website: XXXXXXXX<br/>
                        E-mails: mohamedboubaya1@gmail.com / mohamedboubaya1@gmail.com
                    </p>
                </p>
                <p class="sign_in_form_item sign_in_form_item_with_label" align="center">
                    {{ form_widget(form.send,{'attr':{'class':'button button-sm','onclick':'if (confirm("Are you sure ?")) return true; else return false;'}}) }}
                </p>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
