


<h1 class="page_title">
    Edit password
</h1>
<div class="row profile">
    {% include "FOSUserBundle:Profile:profile_info.html.twig" with {'edit':'0'}  %}
    <div class="sign_in_container l9 m8 s12 profile_details">
        <div class="sign_in_header">
            <h2>Profile edit</h2>
        </div>
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            <p class="sign_in_form_item">
                {{ form_widget(form.current_password,{'attr':{'class':'sign_in_form_item_input input','placeholder':'Current password'}}) }}
            </p>
            <p class="sign_in_form_item">
                {{ form_widget(form.new.first,{'attr':{'class':'sign_in_form_item_input input','placeholder':'New password'}}) }}
            </p>
            <p class="sign_in_form_item">
                {{ form_widget(form.new.second,{'attr':{'class':'sign_in_form_item_input input','placeholder':'New password confirmation'}}) }}
            </p>
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="button button-sm profile_edit_action"/>
            </div>
            {{ form_rest(form) }}
        </form>


    </div>
</div>
